/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */


.navbar-fixed-top {
	background-color: #6CA337;
}

.navbar-fixed-top a {
	line-height: 35px;
	font-size: 1.2rem;
	font-weight: 400;
	font-family: Roboto, sans-serif;
	color: white;
}

.navbar-fixed-top a:hover {
	color: #DBF3FF;
}

.navbar-fixed-top navbar-brand {
	font-size: 1.4rem;
}

.btn {
	border: 0;
	font-size: 1.2rem;
	font-weight: 600;
	padding: 0.8rem;
}

.btn-primary {
	background-color: #6CA337;
}

.btn-secondary {
	background-color: #ACB3B5;
}


/*   Custom css tags   */



#logo {
	width: 50px;
	height: 50px;
	margin-right: 5px;
}

#icon {
	width: 35px;
	height: 35px;
	margin-left: 5px;
}
