
<nav class="navbar-secondary navbar">
	<div class="container">
		<div class="d-flex align-items-center">
			<a asp-controller="Profile" asp-action="Settings" class="nav-link">My Profile</a>
			<a asp-controller="Profile" asp-action="FamilyTree" class="nav-link">Family tree</a>
			<a asp-controller="Profile" asp-action="Settings" class="nav-link">Statistics</a>
			<a asp-controller="Profile" asp-action="Settings" class="nav-link">Give access</a>
		</div>
	</div>
</nav>