@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - MyTree</title>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	@RenderSection("Stylesheets", required: false)
</head>

<body>
	<nav class="navbar navbar-fixed-top">
		<div class="container">
			<a asp-controller="Home" asp-action="Index" class="navbar-brand">
				<img src="~/images/icon_logo.png" class="icon-medium img-fluid rounded-circle mr-3" />
				MyTree
			</a>
			<div class="d-flex align-items-center">
				<a asp-controller="Home" asp-action="Index" class="nav-link">Pricing</a>
				<a asp-controller="Home" asp-action="Contact" class="nav-link">Contact</a>


				@if(SignInManager.IsSignedIn(User))
				{
					<form id="signOut" role="form" asp-controller="Account" asp-action="SignOut">
						<button type="submit" role="link" class="btn btn-link">
							Sign out
						</button>
					</form>
					@*<a asp-controller="Account" asp-action="SignOut" class="nav-link" role="form">Sign out</a>*@
					<a asp-controller="Profile" asp-action="Index" class="btn btn-link">
						<img src="~/images/UserIcon_default.png" class="icon img-fluid rounded-circle" />
					</a>
				}
				else
				{
					<a asp-controller="Account" asp-action="SignIn" class="nav-link" role="form">Sign in</a>
					<a asp-controller="Profile" asp-action="Index" class="btn btn-link">
						<img src="~/images/UserIcon_default.png" class="icon img-fluid rounded-circle" />
					</a>
				}

			</div>
		</div>
	</nav>

	<partial name="_CookieConsentPartial" />

	<div class="container-fluid body-content px-0">
		@RenderBody()
	</div>

	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@RenderSection("Scripts", required: false)

</body>
</html>
